@import url('https://fonts.googleapis.com/css?family=Lato');
$fonts: Lato, sans-serif;
body {
font: 100% $fonts;
margin: 0 auto;
max-width: 500px;
	.container {
	text-align: center;
	background-color: gray;
	margin-top: 20%;
	padding: 10%;
		.controls {
		display: flex;
		justify-content: space-between;
		padding-bottom: 10%;
		 	.button {
		 	text-decoration: none;
		 	color: white;
		 	font-weight: 700;
		 	width: 100px;
		 	padding: 5% 0;
		 	border: 2px solid white;
		 	border-radius: 5%;
		 	cursor: pointer;
		 	}
		 	button#start.button {
		 		background-color: green;
		 	}
		 	button#stop.button {
		 		background-color: red;
		 	}
		}
		.display {
			font-size: 30px;
			border: 2px solid black;
			border-radius: 10px;
			width: 200px;
			margin: 0 auto;
			background-color: white;
		}
		a#reset.button {
		padding: 3% 0;
		color: white;
		font-size: 75%;
		}
		ol.results {
			width: 125px;
			margin: 5% auto;
		}
		button#clear.button {
		text-decoration: none;
		color: red;
		font-weight: 700;
		font-size: 75%;
		padding: 3% 5%;
		border: 2px solid red;
		border-radius: 5%;
		background-color: white;
		cursor: pointer;
		}
	}
};

